* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 20px;
}

#description, #chart, #manipulate {
  font-family: 'Roboto Mono', monospace;
  margin: 20px;
}

code {
  margin: 20px;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 6px;
}

#description > p {
  font-size: 14px;
}